<img class="shittyLogo" src="/images/roadtriplogo.png" style="width: 20vw; min-width: 250px"/>
<div class="container" id="bodyContainer">
  <div class="heading">Connect your Spotify account.</div>
  <div class="container-fluid">
    <div class="row">
      <form method="POST" class="form-horizontal">
        <div class="form-group">
            <a class="button-cool" name="login" href="/login/spotify">Log in to Spotify</a>
        </div>
        <div class="form-group">
          <a class="button-uncool" name="skip" href="/">Skip</a>
        </div>
      </form>
    </div>
  </div>
</div>
