<h1>Connect your Spotify account</h1>
<form method="POST" class="form-horizontal">
  <div class="form-group">
      <a type="button" name="login" class="btn btn-success" href="/login/spotify">Log in to Spotify</a>
  </div>
  <div class="form-group">
    <a type="button" name="skip" class="btn btn-default" href="/">Skip</a>
  </div>
</form>
