<img class="shittyLogo" src="/images/roadtriplogo.png" style="width: 20vw; min-width: 250px"/>
<div class="container" id="bodyContainer">
  <div class="heading">Create the perfect playlist for a roadtrip with friends.</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Your Artist</h4>
            <div class='search-bar'>
              <form action='nothing'>
                <input type='text' name='search' class='searchfld' id='searchfld1' placeholder="Pick your artist." autofocus/>
              </form>
              <div class='artist-list'>
                <form action='nothing'>
               <!--    <li>Artist 1</li>
                  <li>Artist 2</li>
                  <li>Artist 3</li> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Their Artist</h4>
            <div class='search-bar'>
              <form action='nothing'>
                <input type='text' name='search' class='searchfld' id='searchfld2' placeholder="Pick your artist." autofocus/>
              </form>
              <div class='artist-list'>
                <form action='nothing'>
                  <!-- <li>Artist 1</li>
                  <li>Artist 2</li>
                  <li>Artist 3</li> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-default" id="findMatches">Search</button>
</div>
</div>
