<img class="shittyLogo" src="/images/roadtriplogo.gif" style="width: 150%; min-width: 250px"/>
<div class="container" id="bodyContainer">
  <div class="heading">Create the perfect playlist for a roadtrip with friends.</div>
  <div class="container-fluid">
    <div class="row">
      <form method='POST'>
        <div class='form-group'>
      <div class="col-xs-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Your Artist</h4>
            <div class='search-bar'>
              <div action='nothing'>
                <input type='text' name='artist1' class='searchfld' id='searchfld1' placeholder="Pick your artist." autofocus/>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class='form-group'>
      <div class="col-xs-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Their Artist</h4>
            <div class='search-bar'>
             <!--  <form action='nothing'> -->
                <input type='text' name='artist2' class='searchfld' id='searchfld2' placeholder="Pick your artist." autofocus/>
             <!--  </form> -->
                <!-- <form action='nothing'>
                  <li>Artist 1</li>
                  <li>Artist 2</li>
                  <li>Artist 3</li>
                </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <form method="post" action='/'> -->
  <button class="button-search" id="findMatches">Search</button>
  </form>
</div>
</div>
