<!DOCTYPE html>
<html>
  <head>
    <title>Road Trip</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  	<script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
  </head>
  <body>
    <!--NAV BAR-->
    <div class="header">
    <div id='menu-nav'>
      <div id='navigation-bar'>
        <ul>
          <li class='menu-sub-nav current-item'><a href='/'><i class='fa fa-home'></i><span>Home</span></a></li>
          <li class='menu-sub-nav'><a href='/discover'><i class='fa fa-globe'></i><span>Discover</span></a></li>
          <li class='menu-sub-nav'><a href='/myAccount'><i class='fa fa-user'></i><span>Me</span></a></li>
          <li class='menu-sub-nav'><a href='/friends'><i class='fa fa-users'></i><span>Friends</span></a></li>
          <li class='menu-sub-nav' id='searchbox'><a href='/myPlaylists'><i class='fa fa-book'></i><span>Playlists</span></a></li>
          <li class='menu-sub-nav'><a href='/logout'><i class='fa'></i><span>Logout</span></a></li>
        </ul>
      </div>
      <!-- <div id='search-bar'>
        <form action='nothing'>
          <input type='text' name='search' id='searchfld' placeholder="Enter tweet." autofocus/>
        </form>
      </div> -->
    </div>
  </div>

    {{{body}}}
  </body>
</html>
