{{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
{{/if}}
<form method="POST" class="form-horizontal" style="margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
<h3>Login</h3>
  <div class="form-group">
      <input type="text" name="username" class="form-control" placeholder="Username">
  </div>
  <div class="form-group">
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <button class="btn btn-success">Login</button>
    <a class="btn btn-primary" href="/register">Register</a>
    <a class="btn btn-primary" href="/login/facebook">Login with Facebook</a>
  </div>
</form>
