{{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
{{/if}}

<img class="shittyLogo" src="/images/roadtriplogo.gif" style="width: 180%; min-width: 250px"/>
<div class="container" id="bodyContainer">
  <div class="heading">Create the perfect playlist for a roadtrip with friends.</div>
  <div class="container-fluid">
    <div class="row">
      <form method="POST" class="form-horizontal">
        <div class="login">Login</div>
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group" id="homeButtons">
          <button class="button-cool">Login</button>
          <div class="twoButtons">
            <a class="button-register" href="/register">Register</a>
            <a class="button-facebook" href="/login/facebook">Login with Facebook</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
