<div class="user-badge-pro">
  <div class="user-badge-avatar">
    <i class='fa fa-music' style="font-size: 100px; padding: 20px"></i>
  </div>
  <div class="login">My Playlists</div>
    <tbody>
      {{#each playlists}}
        <tr>
          <td>
            <a href="playlist/{{spotifyId}}">
              {{name}}
            </a>
          </td>
          <td>{{creator}}</td>
          <td>{{dateCreate}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
