<div class="container">
  <div class="title">Road Trip</div>
  <div class="heading">Create the perfect playlist for a roadtrip with friends</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Your Artist</h4>
            <div id='search-bar'>
              <form action='nothing'>
                <input type='text' name='search' id='searchfld' placeholder="Pick your artist." autofocus/>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Their Artist</h4>
            <div id='search-bar'>
              <form action='nothing'>
                <input type='text' name='search' id='searchfld' placeholder="Pick your artist." autofocus/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
